@font-face {
    font-family: PSB;
    src: url(Fonts/ProductSans-Bold.ttf);
  }

@font-face {
    font-family: PSBI;
    src: url(Fonts/ProductSans-BoldItalic.ttf);
  }

@font-face {
    font-family: PSM;
    src: url(fonts/ProductSans-Medium.ttf);
  }

@font-face {
    font-family: PSMI;
    src: url(fonts/ProductSans-MediumItalic.ttf);
  }

.navbar .navbar-brand{
    font-family: PSB;
    color: white;
    padding: 0px;
}


h1 {
    font-family: PSM;
    background: linear-gradient(#8C52FF, #FE3A43);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: 1em;
    padding: 0.0em;
    border: 0;
    font-size: 75px;
}

p {
    font-family: PSM;
    margin: 1em;
    padding: 0.0em;
    border: 0;
    font-size: 20px;
}

.button-hover {
    position: relative;
    min-width: 300px;
    margin: 9em;
    padding: 0.3em;
    background-color: #FE3A43;
    border: 0;
    border-radius: 55px;
    color: white;
    font-family: PSB;
    font-size: 25px;
    margin-top: 0px;
}