@font-face {
    font-family: PSB;
    src: url(Fonts/ProductSans-Bold.ttf);
  }

@font-face {
    font-family: PSBI;
    src: url(Fonts/ProductSans-BoldItalic.ttf);
  }

@font-face {
    font-family: PSM;
    src: url(fonts/ProductSans-Medium.ttf);
  }

@font-face {
    font-family: PSMI;
    src: url(fonts/ProductSans-MediumItalic.ttf);
  }

.navbar .navbar-brand{
    font-family: PSB;
    color: white;
    padding: 0px;
}


h1 {
    font-family: PSM;
    background: linear-gradient(#8C52FF, #FE3A43);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: 1em;
    padding: 0.0em;
    border: 0;
    font-size: 6vw;
}

h5 {
  font-family: PSM;
}

h6 {
  font-family: PSM;
}

a {
  font-family: PSM;
}

p {
  font-family: PSM;
}

.card-text {
    font-family: PSM;
    margin: 1em;
    padding: 0.0em;
    border: 0;
    font-size: 20px;
    font-size: 1.7vw;
}

.button-hover {
    position: relative;
    min-width: 30vw;
    margin: 9vw;
    padding: 0.3vw;
    background-color: #FE3A43;
    border: 0;
    border-radius: 55vw;
    color: white;
    font-family: PSB;
    font-size: 1.7vw;
    margin-top: 0vw;
}

.text-muted{
  font-family: PSM;
}

.blockquote-footer {
  font-family: PSM;
}
