@font-face {
  font-family: PSB;
  src: url(Fonts/ProductSans-Bold.ttf);
}

@font-face {
  font-family: PSBI;
  src: url(Fonts/ProductSans-BoldItalic.ttf);
}

@font-face {
  font-family: PSM;
  src: url(fonts/ProductSans-Medium.ttf);
}

@font-face {
  font-family: PSMI;
  src: url(fonts/ProductSans-MediumItalic.ttf);
}

#wrapper {
    overflow-x: hidden;
    
 }

#sidebar-wrapper {
  min-height: 100vh;
  margin-left: -15rem;
  -webkit-transition: margin .25s ease-out;
  -moz-transition: margin .25s ease-out;
  -o-transition: margin .25s ease-out;
  transition: margin .25s ease-out;
  
}

#sidebar-wrapper .sidebar-heading {
  padding: 0.875rem 1.25rem;
  font-size: 1.2rem;
}

#sidebar-wrapper .list-group {
  width: 15rem;
}

#page-content-wrapper {
  min-width: 100vw;
  
}

#wrapper.toggled #sidebar-wrapper {
  margin-left: 0;
}

@media (min-width: 768px) {
  #sidebar-wrapper {
    margin-left: 0;
  }

  #page-content-wrapper {
    min-width: 0;
    width: 100%;
  }

  #wrapper.toggled #sidebar-wrapper {
    margin-left: -15rem;
  }
  .row {
  padding: 0.875rem 1.25rem;
  font-size: 1.2rem;
  }
  

  h2 {
  font-family: PSB;
  color: #15F187;
  font-size: 4vw;
  text-align: center;
  }

  h5 {
    font-family: PSB;
    }

  p{
    font-family: PSB;
  }

  th {
    font-family: PSB;
    color: #15F187;
    font-size: 22px;
  }

  td {
    font-family: PSB;
    font-size: 22px;
  }

  h2{
    padding: 20px;
    text-align: center;
    font-family: PSB;
    font-size: 45px;
  }

  h6 {
    font-family: PSM;
    text-align: center;
    color: black;
  }

  a {
    font-family: PSB;
    color: white;
    font-size: 22px;
    text-decoration:none;
    color:black;
  }


  .card-text {
    font-family: PSB;
    margin: 1em;
    padding: 0.0em;
    border: 0;
    font-size: 20px;
    font-size: 1.7vw;
}

  .noticias {
    padding: 0.875rem 1.25rem;
  font-size: 1.2rem;
    
  }

  .card-body{
    
    background-color: #202020;
    color: white;


  }

  .btn {
    color: white;
    background-color: #22AF6B;
    border-color: #22AF6B;
    font-size: 20px;
  }

  .btn:hover {
    color: white;
    background-color:#1E6241;
    border-color: #1E6241;
    font-size: 20px;
  }

  .nav-link:active {
    text-decoration:none;
    color:black;
  }

  a:hover{
    text-decoration:none;
    color:#1D4D36;
    }

  .dropdown-item {
    color:white;
}

.dropdown-item:hover{
  text-decoration:none;
  color:#15F187;
  background-color: #202020;
  }

  hr {
    width: 195px;
    border-color: #1D4D36;

  }

  

}